.bio {
  display: none;
}

#imgCol {
  width: 10%;
}

#nameCol {
  width: 15%;
}

#genCol {
  width: 5%;
  text-align: center;
}

#pracCol {
  width: 5%;
  text-align: center;
}

.click {
  color: blue;
  font-weight: 500;
}

.click:hover {
  text-decoration: underline;
  color: blue;
}

.textCenter {
  text-align: center;
}
